* {
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: 30vh;
    margin: auto;
}

.main-menu > p {
    text-align: center;
}

.main-menu > * {
    margin-top: 10px;
}

.main-menu > button {
    background-color: whitesmoke;
    border: 3px black solid;
    border-radius: 10px;
}

.main-menu > button:hover {
    background-color: white;
    cursor: pointer;
}

.main-menu > input {
    border: 3px black solid;
    border-radius: 10px;
}

.game-title {
    text-align: center;
    margin: 2rem;
}

.selected-moves {
    display: flex;
    justify-content: center;
}

.selected-moves > img {
    height: 35vh;
    width: 30vh;
    border: 5px black solid;
    border-radius: 10px;
}

.versus {
    margin-top: 15vh;
    text-align: center;
}

.selected-moves > * {
    margin-left: 10px;
}

.moves {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
}

.moves > img {
    height: 15vh;
    width: 10;
    border: 3px black solid;
    border-radius: 10px;
    margin-left: 10px;
}

.moves > img:hover {
    transform: scale(1.05);
    cursor: pointer;
}